In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from IPython.display import display

In [2]:
datadir = 'E:\github_work\Outbrain_Click_Prediction\data'

In [4]:
def read_documents(datadir):
    df_categories = pd.read_csv(os.path.join(datadir,'documents_categories.csv'))
    df_entities = pd.read_csv(os.path.join(datadir,'documents_entities.csv'))
    df_topics = pd.read_csv(os.path.join(datadir,'documents_topics.csv'))
    df_meta = pd.read_csv(os.path.join(datadir,'documents_meta.csv'))
    return df_categories,df_entities,df_topics,df_meta

In [5]:
df_categories,df_entities,df_topics,df_meta = read_documents(datadir)

# document_categories simple exporation

In [12]:
def doc_exporation(df):
    s = df.shape
    uniq_doc_id_num = len(df['document_id'].unique())
    
    list_col=['entity_id','category_id','source_id','publisher_id','topic_id']
    d={}
    for col in list_col:
        if col in df.columns:
            d[col] = len(df[col].unique())
    return s,uniq_doc_id_num,d

In [17]:
s,uniq_doc_id_num,d = doc_exporation(df_categories)
print 'Data shape is : ',s
display(df_categories.head())
print 'The unique of document_id is : ', uniq_doc_id_num
for key,value in d.items():
    print key ,' : ',value

Data shape is :  (5481475, 3)

   document_id  category_id  confidence_level
0      1595802         1611              0.92
1      1595802         1610              0.07
2      1524246         1807              0.92
3      1524246         1608              0.07
4      1617787         1807              0.92

The unique of document_id is :  2828649
category_id  :  97

In [18]:
def print_doc(df):
    s,uniq_doc_id_num,d = doc_exporation(df)
    print 'Data shape is : ',s
    display(df.head())
    print 'The unique of document_id is : ', uniq_doc_id_num
    for key,value in d.items():
        print key ,' : ',value

In [19]:
print_doc(df_categories)

Data shape is :  (5481475, 3)

   document_id  category_id  confidence_level
0      1595802         1611              0.92
1      1595802         1610              0.07
2      1524246         1807              0.92
3      1524246         1608              0.07
4      1617787         1807              0.92

The unique of document_id is :  2828649
category_id  :  97

In [20]:
print_doc(df_entities)

Data shape is :  (5537552, 3)

   document_id                         entity_id  confidence_level
0      1524246  f9eec25663db4cd83183f5c805186f16          0.672865
1      1524246  55ebcfbdaff1d6f60b3907151f38527a          0.399114
2      1524246  839907a972930b17b125eb0247898412          0.392096
3      1524246  04d8f9a1ad48f126d5806a9236872604          0.213996
4      1617787  612a1d17685a498aff4f036c1ee02c16          0.386193

The unique of document_id is :  1791420
entity_id  :  1326009

In [21]:
print_doc(df_topics)

Data shape is :  (11325960, 3)

   document_id  topic_id  confidence_level
0      1595802       140          0.073113
1      1595802        16          0.059416
2      1595802       143          0.045421
3      1595802       170          0.038867
4      1524246       113          0.196450

The unique of document_id is :  2495423
topic_id  :  300

In [22]:
print_doc(df_meta)

Data shape is :  (2999334, 4)

   document_id  source_id  publisher_id         publish_time
0      1595802        1.0         603.0  2016-06-05 00:00:00
1      1524246        1.0         603.0  2016-05-26 11:00:00
2      1617787        1.0         603.0  2016-05-27 00:00:00
3      1615583        1.0         603.0  2016-06-07 00:00:00
4      1615460        1.0         603.0  2016-06-20 00:00:00

The unique of document_id is :  2999334
source_id  :  14395
publisher_id  :  1260

In [29]:
def read_clicks(df):
    s = df.shape
    ads = df['ad_id'].unique()
    num_ads = len(ads)
    return s,num_ads
def print_clicks(df1,df2):
    s1,num_ads1 = read_clicks(df1)
    s2,num_ads2 = read_clicks(df2)
    print 'Shape of train and test :',(s1,s2)
    print 'train ad_id unique : ',num_ads1
    print 'test ad_id unique : ',num_ads2
    print 'The inner id numbers : ',len(list(set(df1['ad_id'])&set(df2['ad_id'])))

In [25]:
def load_clicks(datadir):
    df_train = pd.read_csv(os.path.join(datadir,'clicks_train.csv'))
    df_test = pd.read_csv(os.path.join(datadir,'clicks_test.csv'))
    return df_train,df_test

In [30]:
df_train,df_test = load_clicks(datadir)
print_clicks(df_train,df_test)

Shape of train and test : ((87141731, 3), (32225162, 2))
train ad_id unique :  478950
test ad_id unique :  381385
The inner id numbers :  316035

In [ ]:
del(df_categories)
del(df_entities)
del(df_topics)
del(df_meta)